<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Webshop</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>

<header>
  	<body>
		  <p>Index</p>
  	</body>
</html>