<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a href="/register">Regisztráció</a>
			<a href="/login">Bejelentkezés</a>
			<!-- ha user akkor csak logout + admin linkje -->
		</nav>
		<section>
			<aside>
				<ul>
					<li><a href="#">Termékfajta1</a></li>
					<!--
						Ide jöhetnek a termékekfajták
						vagy semmi ha olyan oldalon van. pl regisztráció, bejelentkezés, termékek stb.
					-->
				</ul>
			</aside>
			<article>
				<div onclick="location.href='#';">
					<image src="https://www.w3schools.com/images/picture.jpg" alt=":desc" width="180" height="180"></image>
					<p class="name">:nev</p>
					<p class="price">:ár</p>
				</div>
			</article>
		</section>
		<footer>
			<p>Footer</p>
		</footer>
  	</body>
</html>