<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a>Kijelentkezés</a>
			<!-- ha user akkor csak logout + admin linkje 
			
			-->
		</nav>
		<section>
			<aside></aside>
			<article>
				<form action="/update/<%= termek.nev%>" method="post">
					<input type="number" name="ar" id="ar" values="új ár" />
					<input type="text" name="leiras" id="leiras" size="100" maxlength="250" values="új leírás" />
					<input type="text" name="kep" id="kep" size="20" maxlength="250" values="új kép neve" />
					<input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
				</form>
				<form action="/delete/<%= termek.nev %>" method="post">
					<button class="btn-sm btn-dark details" value="delete">Delete</button></a>
				 </form>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>