<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a href="/payment">Kosár</a>
			<a href="/logout">Kijelentkezés</a>
			<!-- ha admin akkor itt lesz + link -->
		</nav>
		<section>
			<aside></aside>
			<article>
				<h2>Adatlap</h2>
				<p>
					<!-- MINTA: csak ezért van itt hogy meg lehessen nézni az oldalt. -->
					<% user = {"name":"Kovács Dávid", "email":"azigazikovi@gmail.com", "address":"in your mom", "birthday":"2000.01.01."} %>
					Név: <%= user.name%></br>
					Email cím: <%= user.email%></br>
					Lakcím: <%= user.address%></br>
					Születésnap: <%= user.birthday%></br>
				</p>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>