<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Webshop</title>
		<link href="/css/style.css" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header>
			<h2>Webshop</h2>
		</header>
		<nav>
			<a href="/">Termékek</a>
			<a /href="/payment">Kosár</a>
			<a href="/login">Belépés</a>
		</nav>
		<section>
			<aside></aside>
			<article>
				<h2>Regisztráció</h2>
				<form action="/register" method="post">
					<label>Név:
						<input type="text" id="name" name="name"></input>
					</label></br>
					<label>Email cím:
						<input type="email" id="email" name="email"></input>
					</label></br>
					<label>Jelszó:
						<input type="password" id="password" name="password"></input>
					</label></br>
					<label>Lakcím:
						<input type="text" id="address" name="address"></input>
					</label></br>
					<label>Születésnap:
						<input type="date" id="birthday" name="birthday"></input>
					</label></br>
					<button type="submit" >Regisztráció</button>
				  </form>
			</article>
		</section>
		<footer></footer>
  	</body>
</html>