<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Webshop</title>
    	<link href="/css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
    	<div>
      		<h2>Register</h2>
    		<form action="/register" method="post"><!-- TODO register/??? -->
				<label>Name:
					<input type="text" id="name" name="name"></input>
				</label>
				<label>Email:
					<input type="text" id="email" name="email"></input>
				</label>
				<label>Password:
					<input type="text" id="password" name="password"></input>
				</label>
				<label>Address:
					<input type="text" id="address" name="address"></input>
				</label>
				<label>Birthday:
					<input type="date" id="birthday" name="birthday"></input>
				</label>
				<input type="submit"></input>
      		</form>
    	</div>
	</body>
</html>