* {
	box-sizing: border-box;
	margin: 0;
}

header {
	background-color: #666;
	text-align: center;
	padding: 30px;
}

section {
	display: -webkit-flex;
	display: flex;
}

nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: aqua;
	padding: 10px;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color:black;
	border-style: solid;
	padding: 5px 20px;
	background-color: pink;
}

a:hover {
	background-color: yellow;
}

aside {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color:brown;
	padding: 10px;
}

aside ul {
	list-style-type: none;
	padding: 0;
}

aside li {
	padding: 10px 0px;
}

article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 6;
	background-color: antiquewhite;
	padding: 10px;
}

footer {
	background-color:teal;
	padding: 10px;
}

article div {
	background-color: crimson;
	border-style: solid;
	text-align: center;
	display:inline-block;
	width:200px;
	height:240px;
	margin:5px;
	cursor: pointer;
}

article div p {
	height: 10%;
}

.name {
	background-color: darkmagenta;
}

.price {
	background-color: darkred;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
	section {
	  	-webkit-flex-direction: column;
	  	flex-direction: column;
	}
}

.kihagy {
	width: 800px;
}

#kosar {
	height: 50px;
}

table {
	border-collapse: collapse;
	background-color: darksalmon;
}

#spec {
	background-color: white;
}