* {
	box-sizing: border-box;
	margin: 0;
}

header {
	background-color: #666;
	text-align: center;
	padding: 30px;
}

section {
	display: -webkit-flex;
	display: flex;
}

nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: aqua;
	padding: 10px;
}

a:link, a:visited, a:active {
	text-decoration: none;
	color:black;
	border-style: solid;
	padding: 5px 20px;
	background-color: pink;
}

a:hover {
	background-color: yellow;
}

aside {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color:brown;
	padding: 10px;
}

aside ul {
	list-style-type: none;
}

article {
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 6;
	background-color: antiquewhite;
	padding: 10px;
}

footer {
	background-color:teal;
	padding: 10px;
}
/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
	section {
	  	-webkit-flex-direction: column;
	  	flex-direction: column;
	}
}